:root {
  /** Custom Colors **/
  --black: #000;
  --white: #FFF;
  --grey-main: #2D2D2D;
  --grey-dark: #414141;
  --grey-light: #363636;
  --grey-d9: #d9d9d9;
  --yellow: #FF9A03;
  --yellow-hover: #ffa200;
  --footer: #212121;
  --footer-form-border: #5B5B5B;
}

.main-wrapper {
  width: 80%;
  margin: 0 auto;
}

/********************************************************
  # Buttons
*********************************************************/
.btn-default {
  width: max-content;
  background: var(--white);
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: var(--black);
  border: 0;
  padding: 17px 112px;
  cursor: pointer;
}



/***************************************************************************************************
  # Секция №1: "Шапка"
***************************************************************************************************/
.head {
  width: 100%;

  background-image: url('../images/head__bg-img.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 445px;
}

.head__inner {
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  padding-top: 47px;
  padding-bottom: 47px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 149px;
}

.header__logo {
  display: flex;
  gap: 14px;
}

.header__logo-span {
  width: 40%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  padding-top: 10px;

  color: var(--grey-main);
}

.header__logo-without-shadow-img {
  display: none;
}


.header__nav {
  padding-top: 40px;
}


.header__nav ul {
  display: flex;
  gap: 80px;
  text-transform: uppercase;

  font-weight: 300;
  font-family: 'Inter', sans-serif;

  color: var(--grey-main);
  font-size: 17px;


}

.header__nav ul a { 
  color: var(--black); 
  box-shadow: -2px 29px 16px 3px rgba(0,0,0,0.15);
  -webkit-box-shadow: -2px 29px 16px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: -2px 29px 16px 3px rgba(0,0,0,0.15); 
}

/********** Menu Burger **************/
.header__mobile-menu {
  display: flex;
  flex-direction: column;
  padding-top: 28px;

  position: fixed;
  visibility: hidden;

  gap: 10px;
}

.header__mobile-menu .line {
  width: 38px;
  height: 2px;
  background: var(--black);
  border: 0;
  transition: 0.25s ease;
}

.header__mobile-menu.active .line-one {
  transform: translateY(12px) rotate(45deg);
}

.header__mobile-menu.active .line-two {
  transition: 0.01s; visibility: hidden;
}

.header__mobile-menu.active .line-three {
  transform: translateY(-12px) rotate(-45deg);
}

/***************************************************************************************************
  # Секция №1: "Выдвигающееся меню"
***************************************************************************************************/
.side-menu {
  width: 100%;
  background: var(--footer-form-border);
  opacity: 0.97;
  position: absolute;
  top: 147px;
  left: -120%;
  transition: 0.25s ease;


  display: flex;
  flex-direction: column;
  z-index: 10;

}

.side-menu.active {
  left: 0;
}


.side-menu a {
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
  padding: 24px 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--white);
}





/***************************************************************************************************
  # "Центральгый блок"
***************************************************************************************************/
.head__inner-center {
  position: relative; 
}

.head__title {
  width: 60%;
  font-size: 45px;
  font-weight: 800;
  line-height: 60px;
  color: var(--grey-main);

  margin-bottom: 22px;
}

.head__subtitle {
  width: 56%;
  
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  text-shadow: 0px 35px 25px rgba(0, 0, 0, 0.75);
  color: var(--grey-main);
  font-style: normal;
}

/********** Форма "Отправить" **************/
.head-form-title {
  position: absolute;
  top: -60px;
  right: 80px;

  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: var(--grey-main);

}


.head__form-send {
  width: max-content;
  background: var(--grey-d9);

  padding-top: 48px;
  padding-right: 37px;
  padding-bottom: 40px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: -1px 18px 11px 4px rgba(0,0,0,0.16);
  -webkit-box-shadow: -1px 18px 11px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: -1px 18px 11px 4px rgba(0,0,0,0.16);

  position: absolute;
  top: 0;
  right: 0;
}

.head-form__input {
  width: 305px;
  height: 68px;
  background: #FFF;
  border: 0;
  font-size: 26px;
  color: var(--black);
  padding-left: 12px;
}

.head__form-send button {
  background: var(--yellow);
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
  border: 0;
  padding: 23px 104px;

}

/***************************************************************************************************
  # "Секция №2: "ПОЧЕМУ НУЖНО РАБОТАТЬ ИМЕННО С НАМИ?"
***************************************************************************************************/
.work-w-us {
  width: 100%;

  padding-top: 109px;
  padding-bottom: 74px;
}

.work-w-us__img {
  width: 167px;
  height: 118px;
}

.work-w-us__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-w-us__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: var(--black);

  display: flex;
  justify-content: center;

  margin-bottom: 181px;
}

.work-w-us__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-w-us__grid-item {
  flex: 0 0 33.3%;

  display: flex;
  flex-direction: column;
  gap: 17px;

  margin-bottom: 122px;

}

.square-wrapper {
  display: flex;
  justify-content: center;
}

.square {
  width: 145px;
  height: 119px;

  background: var(--grey-dark);
  box-shadow: 0px 35px 25px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  box-shadow: 0px 35px 25px 0px #00000040;
}

.work-w-us__grid-item-desc {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.work-w-us__grid-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-main);

  display: flex;
  justify-content: center;
}

.work-w-us__grid-item-info {
  width: 100%;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--grey-main);

  display: flex;
  justify-content: center;
}

.work-w-us__grid-item-info p {
  width: 60%;
  text-align: center;
}

.work-w-us__grid-item-desc {
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);

  display: flex;
  justify-content: center;

}

.work-w-us__grid-item-last {
  padding-left: 120px;
}



/***************************************************************************************************
  # Секция №3: "Наши Услуги"
***************************************************************************************************/
.our-services {
  width: 100%;

  background-image: url('../images/our-services__bg-img.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding-top: 70px;
  padding-bottom: 135px;

}

.our-services__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: var(--grey-main);

  display: flex;
  justify-content: center;

  margin-bottom: 63px;
}

/********** Сетка **************/
.our-services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 93px;
}

.our-services__grid-item {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.our-services__grid-image-wrapper, .our-services__grid-title {
  display: flex;
  justify-content: center;
}

.our-services__grid-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-main);
  background: transparent;
}

.our-services__grid-info {
  padding-left: 112px;
}


.our-services__grid-info ul {
  list-style-type: disc;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: var(--grey-main);
  
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.our-services__grid-info ul li {
  width: 100%;
}


/***************************************************************************************************
  # Секция №4: "О нас"
***************************************************************************************************/
.about-us {
  padding-top: 81px;
  padding-bottom: 75px;
}

.about-us__bg {
  height: 500px;
  border-radius: 20px;
  background-image: url('../images/about-us__bg-img.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding-top: 40px;
  padding-left: 60px;
}

.about-us__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: var(--grey-main);

  display: flex;
  justify-content: center;

  margin-bottom: 80px;
}

.about-us__content-right-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);

  margin-bottom: 25px;
}

.about-us__content-wrapper {
  width: 60%;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-main);


  display: flex;
  flex-direction: column-reverse;

  gap: 42px;
}




/***************************************************************************************************
  # Секция №4: "Кейсы"
***************************************************************************************************/
.cases {
  padding-top: 57px;
  padding-bottom: 119px;
  background: linear-gradient(167.31deg, #EBEBEB 3.76%, #F3F3F3 32.96%, #DDDDDD 62.15%, #FAFAFA 93.1%, rgba(219, 219, 219, 0) 115.87%);
}

.cases__title {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: var(--grey-main);

  display: flex;
  justify-content: center;

  margin-bottom: 91px;
}

.cases__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.cases__grid-img-wrapper {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;

  margin-bottom: 28px;
}

.cases__grid-img:hover ~ .cases__grid-hover {
  bottom: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.cases__grid-hover {
  width: 100%;
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 100px;
  background: var(--yellow);
  opacity: 75%;
  display: none;
  transition: 0.25s ease;

}

.cases__grid-hover span {
  font-weight: 800;
  font-size: 15px;
  color: var(--white);
  line-height: 23px;
  opacity: 100%;
  padding-left: 28px;
}

/***************************************************************************************************
  # Footer
***************************************************************************************************/
.footer {
  padding-top: 73px;
  padding-bottom: 64px;
  background: var(--footer);
}

.footer__inner-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.footer__logo {
  flex: 0 0 25%;
}

.footer__form {
  background: var(--grey-d9);
  border: 1px solid var(--footer-form-border);
  padding-top: 36px;
  padding-right: 31px;
  padding-bottom: 45px;
  padding-left: 34px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form__input {
  width: 294px;
  height: 57px;
  background: var(--white);
  border: 0;
}

.footer__form button {
  background: var(--white);
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
  border: 0;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer__sections, .footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__sections {
  padding-left: 60px;
} 

.footer__sections-title, .footer__address-title, .footer__contacts-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--yellow);
}

.footer__sections a {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: var(--white);
}

.footer__address a {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: var(--white);  
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__contacts-line-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 120px;
}

.footer__contacts-title {
  display: flex;
  justify-content: center;

  margin-bottom: 18px;
}

.footer__contacts-line {
  display: flex;
  gap: 25px;

  padding-left: 26px;
}

.footer__contacts-phone {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: var(--white);

  padding-top: 2px;
}

.footer__email-icon {
  padding-top: 6px;
}

.footer__contacts-email {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: var(--white);
  text-decoration: underline;

  padding-top: 3px;
}

/********** Социальные сети **************/
.footer__social-media-wrapper {
  display: flex;
  gap: 22px;
  padding-left: 26px;
}

.footer__social-media-wrapper .fa {
  font-size: 30px;
}

.fa-whatsapp, .fa-instagram, .fa-facebook, .fa-youtube {
  color: var(--yellow);
}

.fa-whatsapp:hover, .fa-instagram:hover, .fa-facebook:hover, .fa-youtube:hover {
  color: orangered;
  transition: 0.18s ease;
}

/************* Copyright информация **************/
.footer__copy {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 17px;
  line-height: 21px;
  font-weight: 300;

  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__copy a {
  color: var(--white);
}