.cases {
   padding-top: 57px;
   padding-bottom: 143px;
   background: linear-gradient(167.31deg, #EBEBEB 3.76%, #F3F3F3 32.96%, #DDDDDD 62.15%, #FAFAFA 93.1%, rgba(219, 219, 219, 0) 115.87%);
}

.cases__title {
   font-weight: 800;
   font-size: 30px;
   line-height: 37px;
   color: var(--grey-2d);

   display: flex;
   justify-content: center;

   margin-bottom: 91px;
}

.cases__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.cases__flex a {
   flex: 0 0 33%;
   margin-bottom: 28px;
}

.cases__flex-item {
   position: relative;
}

.cases__flex-item-img {
   display: flex;
   justify-content: center;
}

.cases__flex-item-hover-wrapper {
   width: 100%;
   position: absolute;
   bottom: 0;

   display: flex;
   justify-content: center;
   visibility: hidden;
}

.cases__flex-item-hover {
   width: 386px;
   height: 100px;
   background: linear-gradient(100.26deg, #FFB414 13.53%, #FFCA59 30.28%, #FFB414 50.47%, #FFD16D 69.13%, #FFB414 86.65%);
   padding: 0;
}

.cases__flex-item-hover-txt {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   color: var(--grey-2d);
   margin: 23px 20px;
}

.cases__flex-item:hover .cases__flex-item-hover-wrapper {
   visibility: visible;
}



@media only screen and (max-width: 1600px) {
   .cases-img {
      width: 340px;
      height: 340px;
   }

   .cases__flex-item-hover {
      width: 340px;
      height: 100px;
   }
}

@media only screen and (max-width: 1400px) {
   .cases-img {
      width: 294px;
      height: 294px;
   }

   .cases__flex-item-hover {
      width: 294px;
      height: 100px;
   }

   .cases__flex-item-hover-txt {
      margin: 13px 20px;
      font-size: 14px;
   }
}

@media only screen and (max-width: 1220px) {
   .cases-img {
      width: 248px;
      height: 248px;
   }

   .cases__flex-item-hover {
      width: 248px;
      height: 100px;
   }

   .cases__flex-item-hover-txt {
      margin: 8px 20px;
      font-size: 12px;
   }
}

@media only screen and (max-width: 1024px) {
   .cases__flex a {
      flex: 0 0 50%;
      margin-bottom: 28px;
   }

   .cases-img {
      width: 286px;
      height: 286px;
   }

   .cases__flex-item-hover {
      width: 286px;
      height: 100px;
   }

   .cases__flex-item-hover-txt {
      margin: 8px 20px;
      font-size: 12px;
   }


}

@media only screen and (max-width: 768px) {
   .cases__flex a {
      flex: 0 0 100%;
   }

   .cases-img {
      width: 286px;
      height: 286px;
   }

   .cases__flex-item-hover {
      width: 286px;
   }

   .cases__flex-item-hover-txt {
      font-size: 14px;
   }


}

@media only screen and (max-width: 600px) {
   .cases__flex-item-hover-wrapper {
      visibility: visible;
   }

}
